*{
    box-sizing: border-box;
    font-family: 'Black Han Sans', sans-serif;
}

#grid{
    display :grid;
    grid-template-columns: 320px 200px;
}

#sidebar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:25px;
}

#sidebar h1{
    font-size:50px;
    margin:0px;
    font-weight: lighter;
}

#sidebar p{
    margin: 10px 0 10px 0;
}
#board{
    border: solid 2px;
}

#startBtn{
    font-size:16px;
    padding:15px 30px;
    cursor: pointer;
}